{
  "env": {
    "mocha": true,
    "node": true
  },
  "plugins": ["node", "mocha", "security", "json"],
  "extends": [
    "@tislaamo",
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:security/recommended"
  ],
  "rules": {
    "node/exports-style": ["error", "module.exports"],
    "mocha/no-exclusive-tests": "error"
  },
  "overrides": [
    {
      "files": "lib/**/*.test.js",
      "rules": {
        "node/no-unpublished-require": 0
      }
    }
  ]
}
